* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	background: #2a2a2a;
}
html, body, #layout, .sidebar,.content{
	height:100%;
	font-family: sans;
}

a {
	text-decoration: none;
	color: #80ff00;
}
a:hover,a:focus {
	color: #a6e22e;
}

h3 {
	font-weight: 100;
}

code {
	display: inline-block;
	color: #e6db74;
	background: #222;
	border-radius: 5px;
	padding:  0 4px;
	font-family:monospace;
	font-size:1.2em;
}

/* LAYOUT CSS */
.pure-img-responsive {
	max-width: 100%;
	height: auto;
}
#layout {
	padding: 0;
}
.header {
	text-align: center;
	top: auto;
	margin: 3em auto;
}
.sidebar {
	background: #222;
	color: #fff;
}

.brand-title, .brand-tagline {
	margin: 0;
}
.brand-title {
	text-transform: uppercase;
	font-size:2.4em;
}
.brand-title a{
	color: #c47f2c;
	font-weight:normal;
}
.brand-tagline {
	font-size:1em;
	font-weight: 300;
	color: #aaa;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	zoom: 1;
}
.nav-item a {
	margin-top: 1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 85%;
}
.nav-item a, .post-category{
	background: transparent;
	border: 1px #c47f2c solid;
	color:#ddd;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav-item a:hover, .nav-item a:focus, .post-category:hover {
	color:#aaa;
}

.content-subhead {
	/*    text-transform: uppercase;*/
	color: #ccc;
	border-bottom: 1px solid #eee;
	padding: 0.4em 0;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.content {
	padding: 2em 1em 0;
	color:#ddd;
}

.post {
	margin-bottom: 2em;
	padding: .5em;
	border: 1px #222 solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nopadding {
	padding:0;
}
.post-back {
	color:#aaa;
	display:table;
    table-layout: fixed;
	width:100%;
	padding: 0.5em;
}
.post-back:hover{
	background:#444;
}
.post-pagin {
	color:#aaa;
	display:table;
    table-layout: fixed;
	width:100%;
}
.post-pagin a, .post-pagin p{
	color:#aaa;
	display:table-cell;
	padding: 0.5em;
}
.post-pagin a.newer{
	text-align:right;
}
.post .see-more{
	color:#aaa;
	display:block;
	border-top: 1px #222 dotted;
	margin: -.5em;
	text-align:right;
	padding: 0.1em 0.3em;
}
.post .see-more:hover, .post-pagin a:hover{
	background:#444;
	color: #a6e22e;
}
.post-title {
	font-size: 2em;
	margin: 0.2em 0;
	font-weight:normal;
	color:#ddd;
}
.post-title a{
	color:inherit;
}
.post-description {
	font-family: Sans;
	text-align:justify;
	line-height: 1.8em;
}
.post-meta {
	color: #999;
	font-size: 90%;
	margin: 0;
}
.post-meta span{
	color: #AA53C2;
}
.post-category {
	margin: 0 0.1em;
	padding: 0.3em 1em;
	font-size: 80%;
}

.post-description img {
    display: block;
    margin: 0 auto;
}

.shrug{
	color: #c47f2c;
	text-align:center;
	font-size:5em;
}
.text404{
	text-align:center;
}

@media (min-width: 48em) {
	.content {
		padding: 2em 3em 0;
		margin-left: 25%;
	}

	.header {
		padding:0 1em;
		margin: 10em auto 0;
		max-width: 40vh;
	}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
	}

	.footer {
		text-align: center;
	}
}
