{% extends "layout.html" %}
{% block title %}Hello from Flask !{% endblock %}
{% block content %}
<h1 class="content-subhead">Derniers articles</h1>

{% for post in data.posts %}
<section class="post">
	<header class="post-header">
		<h2 class="post-title">{{ post.title }}</h2>

		<p class="post-meta">
		Le {{ post.date }}{% if post.author != "" %} par {{ post.author }}{% endif %}
		{% for tag in post.tags %}
		<a class="post-category post-category-design" href="#">{{ tag }}</a>
		{% endfor %}
		</p>
	</header>

	<div class="post-description">
		<p>
		{{ post.excerpt }}
		</p>
	</div>
</section>
{% endfor %}
{% endblock %}
