{% import "config.html" as cfg %}
{% if cfg.blogName is not defined %}
{% import "config.sample.html" as cfg %}
{% endif %}

<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
	<title>{% block title %}{% endblock %} - {{ cfg.blogName }}</title>
    {% endblock %}
  </head>
  <body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
			<h1 class="brand-title"><a href="{{ url_for('index') }}">{{ cfg.blogName }}</a></h1>
			<h2 class="brand-tagline">{{ cfg.blogDescription }}</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io">Pure</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div class="posts">
            	{% block content %}{% endblock %}
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
						{% for link in cfg.social %}
						<li class="pure-menu-item"><a href="{{ link[1] }}" class="pure-menu-link" target="blank">{{ link[0] }}</a></li>
						{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>

