{% set t = { 
	'en':{
		'datePrefix':'',
		'byAuthor':'by ',
		'olderPost':'Older post',
		'newerPost':'Newer post',
		'olderPosts':'Older posts',
		'newerPosts':'Newer posts',
		'home':'Home',
		'backIndex':'Go back to homepage',
		'dateFormat':'%d-%m-%Y',
		'postsWithTag':'Posts with tag',
		'seeMore':'See more',
		'notFoundTitle':'Page not found!',
		'notFoundContent':'It looks like the page you\'re looking for doesn\'t exist! (yet ?)',
		'servErrTitle':'Server error!',
		'servErrContent':'The guy coding this site messed up, so I crashed... Sorry!',
	},
	'fr':{
		'datePrefix':'Le ',
		'byAuthor':'par ',
		'olderPost':'Article plus ancien ',
		'newerPost':'Article plus récent ',
		'olderPosts':'Articles plus anciens',
		'newerPosts':'Articles plus récents',
		'home':'Accueil',
		'backIndex':'Retour à l\'accueil',
		'dateFormat':'%d/%m/%Y',
		'postsWithTag':'Articles avec l\'étiquette ',
		'seeMore':'Lire la suite',
		'notFoundTitle':'Page introuvable !',
		'notFoundContent':'On dirait bien que la page que vous cherchez n\'existe pas (encore ?) !',
		'servErrTitle':'Erreur serveur!',
		'servErrContent':'Le mec qui code ce site s\'est gouré, du coup j\'ai planté... Désolé !',
	}
} %}
