{% set t = { 
	'en':{
		'datePrefix':'',
		'byAuthor':'by ',
		'olderPost':'Older post',
		'newerPost':'Newer post',
		'olderPosts':'Older posts',
		'newerPosts':'Newer posts',
		'home':'Home',
		'backIndex':'Go back to homepage',
		'dateFormat':'%d-%m-%Y',
		'postsWithTag':'Posts with tag',
		'seeMore':'See more',
	},
	'fr':{
		'datePrefix':'Le ',
		'byAuthor':'par ',
		'olderPost':'Article plus ancien ',
		'newerPost':'Article plus récent ',
		'olderPosts':'Articles plus anciens',
		'newerPosts':'Articles plus récents',
		'home':'Accueil',
		'backIndex':'Retour à l\'accueil',
		'dateFormat':'%d/%m/%Y',
		'postsWithTag':'Articles avec l\'étiquette ',
		'seeMore':'Lire la suite',
	}
} %}
