{% set t = { 
	'en':{
		'latestContent':'Latest content',
		'datePrefix':'',
		'byAuthor':'by ',
		'olderPost':'Older post',
		'newerPost':'Newer post',
		'olderPosts':'Older posts',
		'newerPosts':'Newer posts',
		'home':'Home',
		'backIndex':'Go back to homepage',
		'dateFormat':'%d-%m-%Y',
	},
	'fr':{
		'latestContent':'Derniers articles',
		'datePrefix':'Le ',
		'byAuthor':'par ',
		'olderPost':'Article plus ancien ',
		'newerPost':'Article plus récent ',
		'olderPosts':'Articles plus anciens',
		'newerPosts':'Articles plus récents',
		'home':'Accueil',
		'backIndex':'Retour à l\'accueil',
		'dateFormat':'%d/%m/%Y',
	}
} %}
