{% extends "layout.html" %}
{% block title %}{{ t[cfg.lng]['home'] }}{% endblock %}
{% block content %}
<h1 class="content-subhead">{{ t[cfg.lng]['postsWithTag'] }}: {{ tag }}</h1>
<div class="content-subhead"><a href="{{ url_for('index') }}">{{ t[cfg.lng]['backIndex'] }}</a></div>

{% for post in posts %}
<section class="post">
	<header class="post-header">
		<h2 class="post-title"><a href="{{ url_for('post', url=post.url) }}">{{ post.title }}</a></h2>

		<p class="post-meta">
		{{ t[cfg.lng]['datePrefix'] }}{{ post.date|datetimeformat(t[cfg.lng]['dateFormat']) }}{% if post.author != "" %} {{ t[cfg.lng]['byAuthor'] }}{{ post.author }}{% endif %}
		{% for tag in post.tags %}
		<a class="post-category post-category-design" href="{{ url_for('tag',tag=tag) }}">{{ tag }}</a>
		{% endfor %}
		</p>
	</header>

	<div class="post-description">
		<p>
		{{ post.excerpt }}
		</p>
	</div>
</section>
{% endfor %}
{% endblock %}
